.tag{
    background-color: #FDB433;
    color: #ffffff;
    border-radius: 1rem;
    padding: 0.1rem 1rem;
    margin: 0 auto;
    font-size: 0.8rem;
    margin-right: 0.5rem;
    &:hover{
        cursor: pointer;
    }
}