@import "../../variables.scss";

.dropzoneContainer {
  padding-top: 100%;
  position: relative;
  
  .dropzone {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: dashed 2px $bgDark;
    box-sizing: border-box;
    border-radius: 8px;
    color: $lightPlaceholder;

    &:focus {
      outline: 0;
      border-color: $lightPlaceholder;
    }

    &--error {
      color: $primaryPink;
      border-color: $primaryPink;
    }
  }
}
