.profile {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 100%;
  &--user {
    display: flex;
    flex-direction: row;
    //  justify-content: space-around;
    align-items: center;
    &--image {
      width: 100px;
      border-radius: 50%;
    }
    &--data {
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      &--username {
        &--name {
          font-size: 1.5rem;
          font-weight: bold;
        }
        &--icon {
          margin-left: 0.5rem;
        }
      }
      &--bio {
        font-size: 14px;
        font-style: italic;
      }
    }
  }
  &--postHeader{
      width: 100%;
      margin-top: 1rem;
      border: 1px solid black;
      text-align: center;
  }
}
