@import "../../variables.scss";

.inputWrapper {

    input {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 1rem;
        border-radius: 8px;
        border: solid 1px $bgDark;
        padding: 0.2rem 0.5rem;
        font-family: "Poppins", sans-serif;
    }
}