@import '../../variables.scss';
@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto&display=swap');

.confirmationModal {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 10000000000;
  background: rgba(17, 22, 26, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  //   &__content {
  //     display: flex;
  //     background-color: $bgLight;
  //     border: 1px solid red;
  //     justify-content: space-around;
  //     box-shadow: 0 0 8px 0 rgba(17, 22, 26, 0.16),
  //       0 4px 8px 0 rgba(17, 22, 26, 0.08), 0 8px 16px 0 rgba(17, 22, 26, 0.08);
  //     &__button {
  //       text-align: center;
  //       border: none;
  //       width: 150px;
  //       height: 40px;
  //       margin: 0.5rem auto;
  //       border-radius: 3rem;
  //       font-size: 18px;
  //       background-color: $white;
  //       outline: none;
  //       box-shadow: 0 0 8px 0 rgba(17, 22, 26, 0.16),
  //         0 4px 8px 0 rgba(17, 22, 26, 0.08), 0 8px 16px 0 rgba(17, 22, 26, 0.08);
  //       cursor: pointer;
  //       &--danger {
  //         background-color: $bgDanger;
  //       }
  //     }
  //   }
  &__content {
    display: flex;
    flex-direction: column;
    background-color: $bgLight;
    justify-content: space-around;
    margin: 0 1rem;
    border-radius: 0.5rem;
    align-items: center;
    // font-family: 'Pacifico', cursive;
    // padding: 1rem;
    &__header {
      font-family: 'Pacifico', cursive;
      font-weight: 500;
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
    }
    &__note {
        font-family: 'Roboto', sans-serif;
        margin-bottom: 1.5rem;
        font-size: 0.9rem;
    }
    &__buttons {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      &__button {
        text-align: center;
        border: none;
        width: 150px;
        height: 40px;
        margin-bottom: 1.5rem;
        border-radius: 0.3rem;
        font-size: 14px;
        background-color: $white;
        outline: none;
        box-shadow: 0 0 8px 0 rgba(17, 22, 26, 0.16),
          0 4px 8px 0 rgba(17, 22, 26, 0.08),
          0 8px 16px 0 rgba(17, 22, 26, 0.08);
        cursor: pointer;
        &--danger {
            font-weight: 600;
            color: $white;
          background-color: $primaryPink;
        }
      }
    }
  }
}
