@import "../../variables.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: $navbar;
  align-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10000000000;
  padding: 0 1rem;

  &__logo {
    display: flex;
    padding-left: 2px;
  }

  .box {
    height: 24px;
    width: 24px;
  }
}
