@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto:500&display=swap');

:root{
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
}
#index {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // background-color: black;
}