$white: #ffffff;
$bgLight: #f4f4f4;
$bgDark: #e2e0dd;
$navbar: #605a5a;
$darkText: #2f2525;
$lightPlaceholder: #888888;
$primeryYellow: #ffb301;
$lightYellow: #fbf3e1;
$primeryOrange: #f57c00;
$lightOrange: #faeee1;
$primeryPink: #e91e63;
$lightPink: #fde8ef;
$primeryGreen: #8bc34a;
$lightGreen: #f3f9ec;
