$white: #ffffff;
$bgLight: #f4f4f4;
$bgDark: #e2e0dd;
$navbar: #605a5a;
$darkText: #2f2525;
$lightPlaceholder: #888888;
$primaryYellow: #ffb301;
$lightYellow: #fbf3e1;
$primaryOrange: #f57c00;
$lightOrange: #faeee1;
$primaryPink: #e91e63;
$lightPink: #fde8ef;
$primaryGreen: #8bc34a;
$lightGreen: #f3f9ec;