$white: #FFFFFF;
$bgLight: #F4F4F4;
$bgark: #E2E0DD;
$navbar: #605A5A;
$darkText: #2F2525;
$lightPlaceholder: #888888;
$primeryYellow: #FFB301;
$lightYellow: #FBF3E1;
$primeryOrange: #F57C00;
$lightOrange: #FAEEE1;
$primeryPink: #E91E63;
$lightPink: #FDE8EF;
$primeryGreen: #8BC34A;
$lightGreen: #F3F9EC;
